{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div class="form-title">
        <div class="form">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
            </div>
        <div class="form">
                {{ form_label(registrationForm.pseudo) }}
                {{ form_widget(registrationForm.pseudo) }}
            </div>
        <div class="form">
            {{ form_label(registrationForm.plainPassword.first, "Mot de passe") }}
            {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class': 'form-control form-all'} }) }}
        </div>
        <div class="form">
            {{ form_label(registrationForm.plainPassword.second, "Confirmation du mot de passe") }}
            {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class': 'form-control form-all'} }) }}
        </div>
        <div class="valider">
            {{ form_label(registrationForm.Valider) }}
            {{ form_widget(registrationForm.Valider) }}
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
