<header id="admin-header">
    <div class="logo_site">
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="logo_site">
        </a>
    </div>
    <div class="admin-navigation">
        <nav>
            <ul>
                <li><a href="{{ path('app_admin') }}">Accueil</a></li>
                <li><a href="{{ path('app_admin_tags') }}">Tags</a></li>
                <li><a href="{{ path('app_admin_tickets') }}">Tickets</a></li>
                <li><a href="{{ path('app_admin_comments') }}">Commentaires</a></li>
                <li><a href="{{ path('app_admin_users') }}">Utilisateurs</a></li>
            </ul>
        </nav>
    </div>
</header>