{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <h1>Bienvenue {{ user.pseudo }}</h1>
    <section class="tables-index">
        <article class="table-tickets">
            <h2>20 Derniers tickets en cours</h2>
            <div style="overflow-x:auto;">
                <table class="admin-table">
                    <tr>
                        <th>Titre du ticket</th>
                        <th>Auteur</th>
                        <th>Options</th>
                    </tr>
                    {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.author.pseudo }}</td>
                        <td>
                            <a href="{{ path('delete_tickets', {id: ticket.id}) }}" ><i class="fa-solid fa-trash red"></i></a>
                            <a href="{{ path('edit_tickets', {id: ticket.id}) }}" ><i class="fa-solid fa-pen-to-square orange"></i></a>
                            <a href="{{ path('show_tickets', {id: ticket.id}) }}"><i class="fa-brands fa-readme green"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </article>
        <article class="table-comments">
            <h2>20 Derniers commentaires</h2>
            <div style="overflow-x:auto;">
                <table class="admin-table">
                    <tr>
                        <th>Commentaires</th>
                        <th>Auteur</th>
                        <th>Options</th>
                    </tr>
                    {% for comment in comments %}
                    <tr>
                        <td>{{ comment.content | slice(0, 100) }}</td>
                        <td>{{ comment.author.pseudo }}</td>
                        <td>
                            <a href="{{ path('delete_comment', {id: comment.id}) }}" ><i class="fa-solid fa-trash red"></i></a>
                            <a href="{{ path('show_tickets', {id: comment.ticket.id}) }}"><i class="fa-brands fa-readme green"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </article>
    </section>
{% endblock %}
