{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <section>
        <article>
            <h2>Tous les utilisateurs</h2>
            <div>
                <div style="overflow-x:auto;">
                    <table class="admin-table">
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Pseudo</th>
                            <th>Role</th>
                            <th>Points</th>
                            <th>Options</th>
                       </tr>
                       {% for user in users %}
                       <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.pseudo }}</td>
                            <td>{{ user.roles[0] }}</td>
                            <td>{{ user.experience }}</td>
                            <td>
                                <a href="{{ path('app_admin_user_delete', {id: user.id}) }}" ><i class="fa-solid fa-trash red"></i></a>
                                <a href="{{ path('app_admin_user_edit', {id: user.id}) }}" ><i class="fa-solid fa-pen-to-square red"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </article>
    </section>
{% endblock %}